.mainDescParallax
{
    width: 320px;
    overflow: hidden;
}

@media screen and (max-width: 768px)
{
    .leftSideParagraphs
    {
        width: 100% !important;
    }

    .mainDescParallax
    {
        display: none;
    }
}