<app-triangular-banner imgSrc="../../assets/img/home/sunset.webp" imgPosition="center" headerText="{{ 'home.bannerText' | translate }}"></app-triangular-banner>

<div class="container" style="max-width: 80%;">
    <h1 class="thinHeader" innerHTML="{{ 'home.aboutMeHeader' | translate }}"></h1>
    <div style="display: flex; justify-content: center; align-items: flex-start; gap: 40px; width: 100%;" class="mainDescriptionParagraphs">
        <div style="flex: 1; min-width: 0;" class="leftSideParagraphs">
            <p class="descriptionParagraph">
                {{'home.aboutMeDescription' | translate}}
            </p>

            <p class="descriptionParagraph">
                {{'home.aboutMeDescription2' | translate}}
            </p>

            <p class="descriptionParagraph">
                {{'home.aboutMeDescription3' | translate}}
            </p>

            <app-main-button routerLink="/projects" text="{{'home.seeMyProjectsButton' | translate}}"></app-main-button>
            <app-main-button routerLink="/contact" text="{{'home.workWithMeButton' | translate}}"></app-main-button>
        </div>

        <div class="mainDescParallax" style="flex-shrink: 0;">
            <app-parallax bgImg="url(../../../assets/img/home/me.webp)" height="380px"></app-parallax>
        </div>
    </div>
    
    <div style="margin-top: 100px"></div>
    
    <h1 class="thinHeader">Technologies</h1>
    <p class="descriptionParagraph">
        {{'home.technologiesDescription' | translate}}
    </p>

    <app-list-item-pair item1="Python" href1="https://www.python.org/" item2="C++" href2="https://isocpp.org/"></app-list-item-pair>
    <app-list-item-pair item1="C#" href1="https://learn.microsoft.com/en-us/dotnet/csharp/" item2="HTML, CSS" href2="https://developer.mozilla.org/en-US/docs/Web/HTML"></app-list-item-pair>
    <app-list-item-pair item1="Bash/PowerShell" href1="https://learn.microsoft.com/en-us/powershell/" item2="Synapse/TDT" href2="https://www.tdt.com/component/synapse-software/"></app-list-item-pair>
    
    <div style="margin-top: 150px"></div>
</div>