<app-triangular-banner headerText="{{'research.bannerText' | translate}}" imgSrc="../../../assets/img/home/sunset.webp" imgPosition="center"></app-triangular-banner>

<div class="container" style="max-width: 80%;">
    <h1 class="thinHeader" style="margin-bottom: 30px;">{{'research.currentResearchHeader' | translate}}</h1>
    <p class="descriptionParagraph">
        {{'research.currentResearchDescription' | translate}}
    </p>
    <p class="descriptionParagraph">
        {{'research.currentResearchDescription2' | translate}}
    </p>

    <div style="margin-top: 80px"></div>

    <h1 class="thinHeader" style="margin-bottom: 30px;">{{'research.interestsHeader' | translate}}</h1>
    <p class="descriptionParagraph">
        {{'research.interestsDescription' | translate}}
    </p>

    <h2 class="thinHeader" style="margin-top: 30px; margin-bottom: 10px;">{{'research.interestAreasHeader' | translate}}</h2>
    <app-list-item-pair item1="{{'research.interestArea1' | translate}}" href1="https://en.wikipedia.org/wiki/Radiation_therapy" item2="{{'research.interestArea2' | translate}}" href2="https://en.wikipedia.org/wiki/Brain%E2%80%93computer_interface"></app-list-item-pair>

    <div style="margin-top: 80px"></div>

    <h1 class="thinHeader" style="margin-bottom: 30px;">{{'research.pathHeader' | translate}}</h1>
    <p class="descriptionParagraph">
        {{'research.pathDescription' | translate}}
    </p>

    <div style="margin-top: 150px"></div>
</div>
