<app-triangular-banner headerText="{{'projects.bannerText' | translate}}" imgSrc="../../../assets/img/projects/project-code.webp"></app-triangular-banner>

<div class="container projectsContainer">
    <h1 class="thinHeader" style="margin-bottom: 50px;">{{'projects.mainHeader' | translate}}</h1>

    <h2 class="thinHeader">{{'projects.researchToolsHeader' | translate}}</h2>

    <div class="row projectsSection" style="width: 100% !important;">

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/physicslibrary" imgSrc="../../../assets/img/projects/physicslibrary.webp" text="{{'projects.physicsLibrary.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/physicsanalysisgui" imgSrc="../../../assets/img/projects/physicsanalysisgui.webp" text="{{'projects.physicsAnalysisGui.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/neurodata-interface" imgSrc='../../../assets/img/projects/neurodata-interface.webp' text="{{'projects.neuroDataInterface.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>
    </div>

    <div class="m-5"></div>
</div>