<div class="projectInfoPage">
    <div class="projectInfoBg" [style.background-image]="'url(' + backgroundImageSource + ')'"></div>
    <div class="projectInfoOverlay"></div>

    <div class="projectInfoHero" appScrollReveal>
        <h1 class="thinHeader colorAccent">{{header}}</h1>
    </div>

    @if (hasMultipleStages) {
      <div class="scrollDownArrow" [class.atTop]="atLastStage" (click)="onArrowClick()">
          @if (atLastStage) {
            <div class="doubleArrowUp">
                <div class="triangleUp"></div>
                <div class="triangleUp"></div>
            </div>
          } @else {
            <div class="triangleDown"></div>
          }
      </div>
    }

    <div class="container projectInfoContent" style="max-width: 65%; padding-top: 40px; padding-bottom: 150px;">

        <div class="introText" appScrollReveal>
            <p class="descriptionParagraph" [innerHTML]="description"></p>
            @if (flatFeatures.length === 0) {
              <div style="margin-top: 30px;">
                  <app-main-button-href [text]="btnText" [href]="btnHref"></app-main-button-href>
              </div>
            }
        </div>

        @for (feature of flatFeatures; track feature.title; let isLast = $last) {
          <div class="stageSection" [class.noSnap]="isLast" appScrollStage>
            <h2 class="stageTitle colorAccent">{{feature.title}}</h2>
            @if (feature.description) {
              <p class="stageDescription" [innerHTML]="feature.description"></p>
            }
            @if (isLast) {
              <div style="margin-top: 30px;">
                  <app-main-button-href [text]="btnText" [href]="btnHref"></app-main-button-href>
              </div>
            }
          </div>
        }
    </div>
</div>
