<app-triangular-banner headerText="{{'contact.bannerText' | translate}}" imgSrc="../../../assets/img/home/sunset.webp" imgPosition="center"></app-triangular-banner>

<div class="container p-5">
    <div class="w-100 d-flex flex-column" style="justify-content: center; align-items: center;">
        <form id="contactForm" action="https://formspree.io/f/xdarvlzw" method="post" class="d-flex flex-column align-items-center" style="width: 50%;">
            <input type="text" name="name" placeholder="{{'contact.form.fullNamePlaceholder' | translate}}" class="formItem" required>
            <input type="email" name="email" placeholder="{{'contact.form.emailAddressPlaceholder' | translate}}" class="formItem" required>
            <textarea placeholder="{{'contact.form.messagePlaceholder' | translate}}" class="formItem" name="message"></textarea>

            <button class="btn btn-outline-danger" style="width: 100%; height: 60px;" type="submit">{{'contact.form.submitButtonText' | translate}}</button>
        </form>
    </div>

    <div class="m-5"></div>
</div>