.formItem
{
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #dc3545;
    color: #000000 ;
    width: 100%;
}

input.formItem
{
    height: 60px;
}

textarea.formItem
{
    height: 300px;
}

#linkedIn
{
  text-decoration: none;
}

#linkedIn:hover
{
  color: lightgray
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000 ;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000000 ;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #000000 ;
  }

  @media screen and (max-width: 760px)
  {
    #contactForm
    {
        width: 100% !important;
    }
  }