@if (href != '') {
  <a [href]="href" target="_blank" class="unstyledLink" style="text-decoration: none;">
    <div class="shadow" style="display: flex; justify-content: start; align-items: center; background-color: rgb(40,40,40); padding: 20px; margin: 10px">
        <img src="../../../assets/img/shared/plus-bullet.webp" style="background: transparent; width: 30px;">
        <div style="background-color: transparent; margin-left: 10px; font-size: x-large;">{{text}}</div>
    </div>
  </a>
} @else {
  <div class="shadow" style="display: flex; justify-content: start; align-items: center; background-color: rgb(40,40,40); padding: 20px; margin: 10px">
      <img src="../../../assets/img/shared/plus-bullet.webp" style="background: transparent; width: 30px;">
      <div style="background-color: transparent; margin-left: 10px; font-size: x-large;">{{text}}</div>
  </div>
}